<header class="bg-gradient-to-r from-customGradientStart to-customGradientEnd text-white px-4 py-6">
  <div class="container mx-auto">
    <!-- Navegación superior -->
    <div class="flex justify-between items-center">
      <!-- Logo -->
      <div class="text-lg font-semibold italic">GC</div>
      
      <!-- Navegación -->
      <nav class="flex gap-6 text-sm">
        <a href="#" class="text-green-200 hover:text-white">Inicio</a>
        <a href="#" class="hover:text-white">Paquetes</a>
        <a href="#" class="hover:text-white">Noticias</a>
      </nav>

      <!-- Botón -->
      <button class="bg-gray-200 text-gray-800 px-4 py-2 rounded-full hover:bg-gray-300">
        Suscríbete
      </button>
    </div>

    <!-- Contenido central -->
    <div class="text-begining mt-8">
      <h1 class="text-4xl font-bold italic font-Galada">Sistema Parroquial</h1>
      <p class="text-lg mt-2">Lleva tu organización al cielo</p>
    </div>
  </div>
</header>