<main class="grid place-content-center">
    <div class="text-center max-w-lg bg-white shadow-lg rounded-lg p-8">
        <form action="/uploadImage" method="post" enctype="multipart/form-data">
            <label for="descripcion">descripcion:</label>
            <input type="text" id="descripcion" name="descripcion" required>
            <br><br>

            <label for="link">Link: </label>
            <input type="text" id="link" name="link" required>
            <br><br>

            <label for="file">Subir Archivo:</label>
            <input type="file" id="file" name="file" required>
            <br><br>

            <button type="submit">Enviar</button>
        </form>
    </div>
</main>