<div id="subscription-cont" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
  <div class="flex items-center justify-center bg-white py-12 px-4 rounded-xl">
    <div class="hidden mb-6 lg:mb-0 lg:mr-10 lg:block">
      <img src="/img/ventanal_en_pico.png" alt="Vitral" class="w-60 h-auto">
    </div>

    <div class="bg-gradient-to-r from-customGradientEnd to-customGradientStart p-8 rounded-lg shadow-lg w-full lg:w-2/3">
      <h2 class="text-white text-2xl lg:text-3xl font-semibold text-center mb-6">Registro de suscripción</h2>
      <form class="space-y-4" onsubmit="validarFormulario(event)">
        <!-- Primera fila -->
        <div class="flex flex-wrap -mx-2">
          <div class="w-1/4 px-2">
            <input type="text" name="nombre" placeholder="Nombre" class="w-full p-2 border rounded focus:outline-none focus:ring focus:ring-green-200" autocomplete="off">
          </div>
          <div class="w-1/4 px-2">
            <input type="text" name="user" placeholder="Usuario" class="w-full p-2 border rounded focus:outline-none focus:ring focus:ring-green-200" autocomplete="off">
          </div>
          <div class="w-1/2 px-2">
            <input type="number" name="numero_tarjeta" placeholder="Número de Tarjeta" class="w-full p-2 border rounded focus:outline-none focus:ring focus:ring-green-200" autocomplete="off">
          </div>
        </div>

        <!-- Segunda fila -->
        <div class="flex flex-wrap -mx-2">
          <div class="w-1/2 px-2">
            <input type="text" placeholder="Apellidos" class="w-full p-2 border rounded focus:outline-none focus:ring focus:ring-green-200" autocomplete="off">
          </div>
          <div class="w-1/4 px-2">
            <input type="number" name="cvv" placeholder="CVV" class="w-full p-2 border rounded focus:outline-none focus:ring focus:ring-green-200" autocomplete="off">
          </div>
          <div class="w-1/4 px-2">
            <input type="number" name="codigo_postal" placeholder="C.P" class="w-full p-2 border rounded focus:outline-none focus:ring focus:ring-green-200" autocomplete="off">
          </div>
        </div>

        <!-- Tercera fila -->
        <div class="flex flex-wrap -mx-2">
          <div class="w-1/2 px-2">
            <input type="email" placeholder="Correo electrónico" class="w-full p-2 border rounded focus:outline-none focus:ring focus:ring-green-200" autocomplete="off">
          </div>
          <div class="w-1/2 px-2">
            <input type="text" placeholder="Dirección de Parroquia" class="w-full p-2 border rounded focus:border focus:outline-none focus:ring focus:ring-green-200" autocomplete="off">
          </div>
        </div>

        <!-- Cuarta fila -->
        <div class="flex flex-wrap -mx-2">
          <div class="w-1/2 px-2">
            <input type="password" name="password" placeholder="Contraseña" class="w-full p-2 border rounded focus:outline-none focus:ring focus:ring-green-200" autocomplete="off">
          </div>
          <div class="w-1/2 px-2">
            <select class="w-full p-2 border rounded focus:outline-none focus:ring focus:ring-green-200">
              <option>Seleccionar Diócesis</option>
              <option>Diósecis de Ensenada</option>
              <option>Diósecis de Méxicali</option>
              <option>Diósecis de Tijuana</option>
            </select>
          </div>
        </div>

        <!-- Quinta fila -->
        <div class="flex flex-wrap -mx-2">
          <div class="w-1/2 px-2">
            <input type="password" name="confirmPassword" placeholder="Confirmar Contraseña" class="w-full p-2 border rounded focus:outline-none focus:ring focus:ring-green-200">
          </div>
          <div class="w-1/2 px-2">
            <select class="w-full p-2 border rounded focus:outline-none focus:ring focus:ring-green-200">
              <option>Seleccionar el periodo de pago</option>
              <option>Paquete Mensual</option>
              <option>Paquete Trimestral</option>
              <option>Paquete Semestral</option>
            </select>
          </div>
        </div>

        <!-- Botones -->
        <div class="flex justify-center space-x-4 mt-6">
          <button type="submit" class="bg-teal-300 text-white px-6 py-2 rounded-lg hover:bg-teal-400">Registrar</button>
          <button type="button" id="closeSuscripcion" class="bg-gray-300 text-gray-700 px-6 py-2 rounded-lg hover:bg-gray-400">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>