<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Bonita con Tailwind</title>
  <link href="/css/output.css" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    {{>header}}

    <!-- Main Section -->
    {{{body}}}

    <!-- Footer -->
    {{>footer}}
</body>
</html>
